<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.sensable.client"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/SensableStyle" >
        <service android:name="io.sensable.client.scheduler.ScheduledSensableService" />

        <receiver android:name="io.sensable.client.scheduler.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="io.sensable.client.sqlite.SensableContentProvider"
            android:authorities="io.sensable.client.contentprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name="io.sensable.client.sqlite.ScheduledSensableContentProvider"
            android:authorities="io.sensable.client.scheduledcontentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="io.sensable.client.SensorListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="io.sensable.client.SensableActivity"
            android:label="@string/title_activity_sensable" >
        </activity>
        <activity
            android:name="io.sensable.client.MainActivity"
            android:label="@string/title_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.sensable.client.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="io.sensable.client.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>